/* @font-face {
  src: url('../fonts/Trilby-Medium-Edu.woff2') format("woff2"),
    url('../fonts/Trilby-Medium-Edu.woff') format("woff");
  font-family: 'Trilby';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Trilby-MediumItalic-Edu.woff2') format("woff2"),
    url('../fonts/Trilby-MediumItalic-Edu.woff') format("woff");
  font-family: 'Trilby';
  font-style: italic;
  font-weight: 500;
} */


:root {
  --background: #a6cadf;
  --foreground: #171717;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1280px;
  margin: 0 auto; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* background-color: #a5d2ee !important; */
  font-family: notoSans;
  /* system-ui, Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.title {
  color: #00adef;
  font-weight: 800;


}

.word1 {
  color: #ec008b;
  font-weight: 400;
}

.word2 {
  color: #ec008b;
  font-weight: 400;
}

.word3 {
  color: #ec008b;
  font-weight: 400;
}

.divider {
  color: #fff100
}

#softwareSolutions {
  background-color: #00adef;
  color: white;
}

/* Header {
  background-color: #ec008b;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  padding-top: 0;

}

h4 {
  padding-top: 0;
  padding-bottom: 2rem;
}


.liz {
  background-color: cadetblue;
}

.lizcard {
  /* background-color: rgb(249, 223, 21) !important; */
  min-height: 170px;
  width: 20rem;
  /* width: '18rem' !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.projpanel {
  display: flex;
  flex-direction: row;
  gap: 32px;
  grid-row-start: 2;
  margin: 10px;
}

.solpanel {
  display: flex;
  flex-direction: row;


}

footer {
  color: gray;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: notoSans,
    /* Arial, Helvetica, sans-serif */
}