/* @font-face {
  src: url('../fonts/Trilby-Medium-Edu.woff2') format("woff2"),
    url('../fonts/Trilby-Medium-Edu.woff') format("woff");
  font-family: 'Trilby';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('../fonts/Trilby-MediumItalic-Edu.woff2') format("woff2"),
    url('../fonts/Trilby-MediumItalic-Edu.woff') format("woff");
  font-family: 'Trilby';
  font-style: italic;
  font-weight: 500;
} */


:root {
  --background: #a6cadf;
  --foreground: #171717;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 1280px;
  margin: 0 auto; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: left;


}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* background-color: #a5d2ee !important; */
  font-family: notoSans;
  /* system-ui, Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.title {
  color: rgb(91, 111, 145);
  font-weight: 200;

}

.word1,
.word2,
.word3 {
  color: #e46bb2;
  font-weight: 500;
}



.divider {
  color: #f7ef08
}

#softwareSolutions {
  background-color: #a8d9ff;
  color: rgb(91, 111, 145);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#ai {
  background-color: rgb(190, 139, 205);
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

#storytelling {
  background-color: #e46bb2;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}




/* Header {
  background-color: #ec008b;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-bottom: 2rem;
}

h1 {
  padding-top: 0;
  font-weight: 700;
  color: rgb(91, 111, 145);

}

h4 {
  padding-top: 0;
  padding-bottom: 2rem;
}




.liz {
  background-color: cadetblue;
}

.lizcard {
  min-height: 150px;
  width: 20rem;
}

/* .lizcard body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* Mobile: Make cards take full width */
@media (max-width: 768px) {
  .lizcard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

.switchbox {
  display: flex;
  justify-content: right;
}

.notprobcard {
  transition: 1s ease-in-out;
}

.techstack {
  font-size: medium;
}

.wip {
  font-size: large;

  color: white;

}

mark {
  background-color: #ec008b;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 1rem !important;
  padding-right: 1rem !important;

}

.projpanel {
  display: flex;
  flex-direction: row;
  gap: 1em;
  grid-row-start: 2;
  margin: 10px;
  /* new from here on */
  flex-wrap: wrap;
  /* justify-content: center; */

}

.solpanel {
  display: flex;
  flex-direction: row;


}

footer {
  color: gray;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: notoSans, Arial, Helvetica, sans-serif
}